<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NRoad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NRoad</a>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        
        <form class="form-horizontal" id="search-form">
        	<h4><b>Document Data Extraction</b></h4>
        	<div style="height: 20px;"></div>
            <div class="form-group form-group-lg">
                <label class="col-sm-1 control-label" style="font-size:small;">Request&nbsp;ID</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="requestId"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Search
                    </button>
                </div>
            </div>
        </form>

		<div id="status"></div>
		
    </div>

</div>

<div class="container">
    <footer>
        
    </footer>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>